* {
	margin: 0;
	padding: 0;
}




*{
font-family: 'Shrikhand', cursive;

}


.contenedor{
	background-color: #F8F8FF;
	padding-right: 80px;
	padding-left: 80px;

	

}


.seccion_uno{
	background-color: white;
	padding-right: 100px;
	padding-left: 100px;
	padding-top:20px;
	padding-bottom: 20px;
	border-top: solid;
	margin-top: -20px;

}


.seccion_dos{
	background-color: white;
	padding-right: 20px;
	padding-left: 70px;
	padding-top:30px;
	padding-bottom:30px;
	border-top: solid;

}


.contenedor .seccion_uno p{
	font-size: 15px;
	font-family: arial;

}

.contenedor .seccion_uno #tabs{
	color: white;
	background-color: #FFF8DC;


}







.seccion_dos p:hover { 
    background-color: #F0FFF0;


}

.seccion_dos p{ 
    font-size: 16px;
    
}

.seccion_dos h1{ 
    border: double;
    width: 120px;
    border-color: red;
    
}


.contenedor .seccion_uno button a:link{
    text-decoration: none;
   	color:white; 
}

.contenedor .seccion_uno button a:visited{
   
   	color:white; 
}




footer{
	background-color: black;
	color:white;

}




@media (max-width: 600px) {
   .seccion_dos{
        width: 100%;        
        padding-left:50px;
        padding-bottom: 20px;
        padding-top: 20px;

    }
}



@media (max-width: 600px) {
    footer h5 {
        font-size:10px;
    }
}




@media (max-width: 600px) {
.seccion_uno #tabs li{
	
	font-size: 10px;

}



@media (max-width: 600px) {
.seccion_uno #tabs-1 p,.seccion_uno #tabs-2 p,.seccion_uno #tabs-3 p,.seccion_uno #tabs-4 p{
	word-wrap: break-word;
	font-size: 12px;
	

}


@media (max-width: 600px) {
.seccion_uno #tabs-1 h3,.seccion_uno #tabs-2 h3,.seccion_uno #tabs-3 h3,.seccion_uno #tabs-4 h3{
	font-size: 12px;
	

}


@media (max-width: 600px) {
.seccion_uno .plop{
	
	font-size: 10px;
	

}

@media (max-width: 600px) {
.seccion_dos h1{
	
	font-size: 14px;
	padding-left:25px;

}

@media (max-width: 600px) {
.seccion_dos p{
	
	font-size: 12px;
	padding-left:0px;
	padding-right:0px;
	
}

@media (max-width: 600px) {
.seccion_uno table{
	
	font-size: 8px;
	
}




/*ghg*/

@media (max-width: 600px) {
   .contenedor{
       
        padding-right: 30px;
        padding-left: 30px;
        
    }
}

@media (max-width: 600px) {
   .seccion_uno{
          background-color: white;
          padding-right: 0px;
          padding-left: 0px;
          padding-top:30px;
          padding-bottom: 50px;
          background-color: white;
          border-top: solid;
          margin-top: -20px;
        
    }
}





@media (max-width: 600px) {
    footer h5 {
        font-size:8px;
    }
}

@media (max-width: 600px) {
    nav div .casa  {
        font-size:12px;
    }
}



@media (max-width: 600px) {
    nav div ul li {
        font-size:10px;
    }
}





